<template name="dashSidebarTemplate">
  <main>
    <div style="height:60px;box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2)"></div>
    <nav>
      <ul class="sidebarul" style="padding-left:0px">
        <li class="" id="sbProfile">
          <a href="/dash/profile">
            <div class="fa fa-user fa-3x"></div>
            <br>My Profile
          </a>
        </li>
        <li class="" id="sbTeamAdmin">
          <a href="/dash/team">
            <div class="fa fa-users fa-3x"></div>
            <br>My Team
          </a>
        </li>
        <li class="" id="sbLive">
          <a href="/dash/live">
            <div class="fa fa-area-chart fa-3x"></div>
            <br>Live Data
          </a>
        </li>
        <li class="" id="sbHistory">
          <a href="/dash/history">
            <div class="fa fa-history fa-3x"></div>
            <br>Data History
          </a>
        </li>
        <li class="" id="sbSiteAdmin">
          <a href="/dash/siteAdmin">
            <div class="fa fa-globe fa-3x"></div>
            <br>Site Admin
          </a>
        </li>
        <li class="" id="sboption6">
          <a href="/dash/history">
            <div class="fa fa-question-circle-o fa-3x"></div>
            <br>Placeholder
          </a>
        </li>
      </ul>
    </nav>
  </main>

</template>
