#header-background {
  display: grid;
  grid-template-columns: 150px 1fr 100px;
  grid-template-rows: 60px;
  justify-items: stretch;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  height: 60px;
  z-index: 20;
  width: 100%;
  left: 0;
  right: 0;
  background: #232020;
}

#logo {
  grid-row: 1;
  grid-column: 1;
  background: #E71B64;
  width: 150px;
  min-width: 150px;
  text-align: right;
  padding-right: 0.2em;
  z-index: 20;
  color: #FFFFFF;
  font: 4em 'Oswald', sans-serif;
  text-rendering: optimizelegibility;
  box-shadow: 0.1em 0 0.1em 0 rgba(0, 0, 0, .2);
  vertical-align: bottom;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

#nav-menu {
  grid-row: 1;
  grid-column: 2;
  font: 1.5em 'Cabin', sans-serif;
  margin-left: auto;
  margin-right: auto;
  z-index: 15;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
  flex-grow: 1;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

nav[role="full-horizontal"] {
  text-align: justify;
  width: 100%;

  ul {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    list-style-type: none;
    color: rgba(0,0,0,0);
    text-align: justify;

    > li {
      float: left;
      text-transform: uppercase;
      cursor: pointer;
      color: rgba(0,0,0,0);
      text-align: justify;
      border-radius: 0.1em;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-property: background, color, padding, border-radius;

      &:after {
        position: absolute;
        z-index: -1;
        content: "";
        right: 0;
        border-radius: 50%;
      }

      &:last-child:after {
        box-shadow: none;
      }

      &:hover {
        background-color: #E71B64;

        > a {
          color: #fff;
        }
      }

      > a {
        color: #E7E0EB;
        text-decoration: none;
        font-size: 1.4em;
        outline: 0;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-property: background, color, padding, border-radius;
      }
    }
  }
}

.tnActive {
  /*background-color: #be1752;
  colour: #fff;*/
  box-shadow: 0 0 0 2px #E71B64;

  > a {
    color: #fff;
  }
}
/* small screens */
@media screen and (max-width: 44em) {
  body {
    margin: 1.5em 0;
  }

  nav[role="full-horizontal"] {
    ul {
      padding: 0 0.5em;
    }

    ul > li {
      width: 100%;
      padding: 0.45em 0.25em;
      margin: 0 0 0.55em;

      &:after {
        box-shadow: none;
      }
    }
  }
  /*Top Menus for small screens*/
  #logo {}

  #nav-menu {}
}

#tnLogin {
  grid-row: 1;
  grid-column: 3;
}
