<template name="topNav">
  <main>
    <div id='header-background' class="container">
            <div id="logo">
                    eChook
            </div>
            <div id='nav-menu'>
                <nav role="full-horizontal" align="centre">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Live Data</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
  </main>
</template>
