<template name="topNav">
  <main>
    <div id='header-background' class="container">
            <div id="logo">
                    eChook
            </div>
            <div id='nav-menu'>
                <nav role="full-horizontal" align="centre">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/docs">Documentation</a></li>
                        <li><a href="/forum">Forum</a></li>
                        <li><a href="/dash">Dashboard</a></li>

                    </ul>
                </nav>
            </div>
        </div>
  </main>
</template>
