#header-background {
  display: grid;
  grid-template-columns: 150px 1fr 100px;
  grid-template-rows: 60px;
  justify-items: stretch;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  height: 60px;
  z-index: 20;
  width: 100%;
  left: 0;
  right: 0;
  background: #232020;
}

#logo {
  grid-row: 1;
  grid-column: 1;
  background: #E71B64;
  width: 150px;
  min-width: 150px;
  text-align: right;
  padding-right: 0.2em;
  z-index: 20;
  color: #FFFFFF;
  font: 4em 'Oswald', sans-serif;
  text-rendering: optimizelegibility;
  box-shadow: 0.1em 0 0.1em 0 rgba(0, 0, 0, .2);
  vertical-align: bottom;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

#nav-container {
  grid-row: 1;
  grid-column: 2;
  min-width: calc(100vw - 250px);
  justify-content: flex-start;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

#topNavUl {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
  list-style-type: none;
  color: rgba(0,0,0,0);
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
  max-width: 900px;

  > li {
    margin: 10px;
    padding: 5px 6px;
    text-transform: uppercase;
    font-size: 1.4em;
    cursor: pointer;
    color: rgba(0,0,0,0);
    text-align: justify;
    border-radius: 0.1em;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: color, padding, border-radius;

    &:hover {
      background-color: #E71B64;

      > a {
        color: #fff;
      }
    }

    > a {
      display: block;
      color: #E7E0EB;
      text-decoration: none;
      font-size: 1.4em;
      outline: 0;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-property: background, color, padding, border-radius;
    }
  }
}

.tnActive {
  /*background-color: #be1752;
  colour: #fff;*/
  box-shadow: 0 0 0 2px #E71B64;

  > a {
    color: #fff;
  }
}
/* small screens */
@media screen and (max-width: 44em) {}

#tnLogin {
  font-size: 1.4em;
  margin-top: 20px;
  grid-row: 1;
  grid-column: 3;
  vertical-align: middle;
}
