.dashItem1 {
  display: flex;
  flex-direction: row;
  background-color: #e0e0e0;
  padding: 3em;
  max-width: 80em;
  border-radius: 1em;
  margin: 3em 5%;
}

.dashItemNarrow {
  position: relative;
  background-color: #e0e0e0;
  padding: 3em;
  max-width: 50em;
  border-radius: 1em;
  margin-left: 3em;
}

.hoverHighlight {
  &:hover {
    box-shadow: 0 0 1px 2px rgba(231,27,100,1);
  }
}
